@charset "utf-8";
/* CSS Document */
html 
{
    background: #333
}
header 
{
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    margin-top: 4px;
}
header img
{
    width:100%; 
    margin: 5px auto -20px auto;
}

.clear 
{
    width: 100%;
    height: 0;
}
#contents 
{
    border-radius: 10px; 
    border: 1px solid #ddd; 
    padding: 20px; 
    min-height: 600px;
}
aside 
{
    width: 20%; 
    float: left; 
    min-height: 200px; 
    margin-right: 20px; 
}
aside a 
{
    display: block; 
    margin: 5px;
}
.btn-danger 
{
    border-radius: 5px;
    padding: 7px 15px; 
    text-decoration: none;
}
.btn-danger:hover {text-decoration: none;}

footer 
{
    padding: 20px; 
    text-align: center; 
    border-top: 2px dashed #ddd; 
    margin-top: 40px;
}
footer p
{
    font-family: vardana; 
    font-size: 16px;
}
.register 
{
    background-color: #FAFAFA;  
    width: 50%; 
    margin: 10px auto 10px auto; 
    min-height: 300px; 
    border-radius: 5px solid #ddd; 
    text-align: center;  
    padding: 35px; 
    border: 1px solid #ddd;
    border-radius: 20px;
}
.register input[type="text"], .register  input[type="password"], .register  input[type="email"] 
{
    display: block; 
    width: 300px; 
    border: 1px solid #ddd;  
    margin: 10px auto 10px auto; 
    font-size: 15px;
}
.register h1
{
    margin-top: 10px;
    font-family: vardana; 
    font-size: 25px;
}

.login
{
    background-color: #FAFAFA; 
    width: 50%;
    margin: 10px auto 10px auto; 
    min-height: 300px; 
    border-radius: 5px solid #ddd; 
    text-align: center;  
    padding: 35px; 
    border: 1px solid #ddd; 
    border-radius: 20px;
}
.login  input[type="text"], .login  input[type="password"]
{
    display: block; 
    width: 300px;
    border: 1px solid #ddd;  
    margin: 10px auto 10px auto; 
    font-size: 15px;
}
.login h1
{
    margin-top: 10px; font-family:vardana; 
    font-size: 25px;
}
.logout 
{
    float:right;
    font-family: cursive;
    font-size:16px; 
    margin-top: -15px;
    text-decoration:none; 
    color: #D2322D; 
}
.logout a:hover 
{
    text-decoration:none; color:#6E96E2;
}

.styled-select 
{
    background: url("new_arrow.png") no-repeat scroll right center #ffffff; 
    border: 1px solid #cccccc;
    border-radius: 6px; 
    height: 46px; 
    overflow: hidden; 
    width: 300px; 
    font-size: 18px; 
    line-height: 1.33;
    padding: 10px 16px;
}
.styled-radio
{
    background: #ffffff; 
    border: 1px solid #cccccc;
    border-radius: 6px; 
    height: 46px; 
    overflow: hidden; 
    width: 300px; 
    font-size: 14px; 
    line-height: 1.33;
    padding: 10px 16px;
    margin: 10px auto 10px auto;
    font-family: Arial;
}

input[type=radio] 
{
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=radio]:checked 
{
    background-color:#000;
    border-left-color:#06F;
    border-right-color:#06F;
}

input[type=radio]:hover 
{
    box-shadow:0px 0px 10px #1300ff;
}
.styled-checkbox
{
    background: #ffffff; 
    border: 1px solid #cccccc;
    border-radius: 6px; 
    height: 100px; 
    overflow: hidden; 
    width: 300px; 
    font-size: 14px; 
    line-height: 1.33;
    padding: 10px 16px;
    margin: 10px auto 10px auto;
    font-family: Arial;
    position: relative;
}
.styled-checkbox p
{
    text-align: left;
    font-family: Arial;
} 
.styled-value
{
    float: left;
    font-size: 14px;
    padding-left: 6px;
    padding-bottom: 20px;
    margin: -5px auto -5px auto;
}


